#### API SETTINGS ####
PROTHEUS_API_URL=
PROTHEUS_API_TOKEN=

FORNECEDOR_API_URL=
FORNECEDOR_API_TOKEN=

RECEITA_FEDERAL_URL=
CEP_API_URL=
CEP_API_TOKEN=

#### CRON SETTINGS ####
RUN_WITH_CRON=true
RUN_CRON_TIME=08:00
RUN_WORKFLOW_EVERY_X_SECONDS=60

#### DATABASE SETTINGS ####
DATABASE_PATH=database/logs.db

#### DOCKER SETTINGS ####
DOCKER_VOLUME_DATA=/app/data
DOCKER_VOLUME_DATABASE=/app/database

#### ENV SETTINGS ####
ENV=development
